
.login-wrapper {
	height: 100%;
	align-items: center;
	padding: 15px 16px;
    background-color: #ffffff;
    color: #555555;
}

.login-wrapper ion-title {
	width: 100%;
	max-width: 420px; 
}

.login-wrapper ion-input {
	width: 100%;
}


.login-wrapper ion-title + ion-title {
	margin-top: 12px;
}

h1{
    color: #555555;
    text-align: center;
}

