<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <strong>¡Bienvenido, {{ usuario }}!</strong>
    <p>Has iniciado sesión correctamente.</p>
  </div>

  <ion-list class="menu-list">
    <ion-item button detail="true" (click)="irPerfil()">
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="irMovimiento()">
      <ion-label>Movimiento</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="irMovimientos()">
      <ion-label>Movimientos</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="irAutoMovi()">
      <ion-label>Movimiento Automático</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="irResumen()">
      <ion-label>Resumen</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
